@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'open sans';
    list-style: none;
}
body{
    width: 100%;
    height: 100vh;
    padding: 50px;
}
.main-container{
    width: 100%;
    height: 25%;
    border: 1px solid #d9d9d9;
}
.header{
    width: 100%;
    height: 20%;
    background: #F9F9F9;
    border-bottom: 1px solid #d9d9d9;
}
.header-name{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
}
.header-name h2{
    font-size: 14px;
    color: #555555;
    font-weight: bold;
    margin-top: 7px;
}
.header-name i{
    font-size: 14px;
    color: #555555;
    font-weight: bold;
}
.details{
    width: 95%;
    height: 250%;
    margin: 18px;
    display: flex;
    justify-content: space-between;
}
.name-box{
    width: 215px;
    height: 40px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin-top: 4px;
    
}
.name-box:hover{
    box-shadow: 0 0 5px;
}
.name-box span{
    font-size: 12px;
   
}
.date-box input{
    width: 150px;
    height: 40px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    outline: none;
    font-size: 13px;
}
.ramp-name h3,
.date-box h3{
    font-size: 12px;
    color: #adaaaa;
}
.chev{
    height: 40px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 60px; */
    border-left: 1px solid #d9d9d9;
}
.chev i{
    font-size: 20px;
}
.search-input{
    width: 215px;
    height: 40px;
    border: 1px solid #3968C6;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 5px;
}
.search-input input{
    width: 204px;
    height: 30px;
    border: none;
    margin: 5px;
    outline: none;
}
.options{
    border-right: 1px solid #3968C6;
    border-left: 1px solid #3968C6;
    border-bottom: 1px solid #3968C6;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: white;
    overflow-y: auto;
    height: 200px;
    position: relative;
}
.options li{
    margin-top: 10px;
    padding: 5px;
    font-size: 12px;
    
}
.options li:hover{
    background:#3968C6;
    height: 30px;
    color: white;
}
.btn button{
    width: 100px;
    height: 40px;
    border: none;
     color: white;
    background: #2F96B4;
}
.btn{
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin-top: 25px;
   
}

.ramp-name .search-input,
.ramp-name .options {
    display: none;
}

.ramp-name .search-input.active,
.ramp-name .options.active {
    display: block;
}
.date-box{
    margin-top: 5px;
}
.ramp-name{
    margin-top: 5px;
}
.second-main-container{
    width: 100%;
    /* height: 600px; */
    margin-top: 40px;
    /* border: 1px solid #d9d9d9; */
}
.header-second{
    width: 100%;
    height: 10%;
    background: #F9F9F9;
    border: 1px solid #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text-name{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.file-icons img{
    width: 20px;
    height: 20px;
}
.text-name h2{
    font-size: 16px;
    color: #555555;
    font-weight: bold;
}
.text-name span{
    font-size: 14px;
    color: #555555;
    font-weight: bold;
}
.middle-container{
    width: 100%;
    height: 10%;
    margin-top: 10px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    gap: 40px;
}
.number-dropers{
    display: flex;
     align-items: center; 
    justify-content: space-between;
    background: white;
    width: 100px;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
    border:1px solid #d9d9d9
}
.number-dropers:hover{
    box-shadow: 0 0 5px;
    border: 1px solid #3968C6;
}
.number-dropers h3{
    font-size: 15px;
}
.chevron{
    height: 30px;
    width: 15px;
    /* background: tomato; */
    border-left: 1px solid #d9d9d9;
    display: flex;
    align-items: center;
}
.chevron:hover{
    color: #3968C6;
}
.chevron i{
    color: #d9d9d9;
}
.record-tab span{
    font-size: 15px;
    font-weight: 600;
    color: grey;
}
.search-container{
    width: 228px;
    height: 45px;
    background: #d9d9d9;
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 10px;
    margin-right: 10px;
}
.search-container input{
    height: 40px;
    width: 190px;
    border: none;
    outline: none;
}
.search-container i{
    color: white;
    font-size: 18px;
    margin-left: 5px;
}
.sub-container{
    display: flex;
    /* align-items: center; */
    gap: 40px; 
}
.numbers{
    width: 111px;
    /* margin-top: 115px; */
}
.number-list ul{
    border: 1px solid #3968C6;
    width: 100px;
    margin-left: 10px;
    /* border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9; */
    margin-top: 10px;
}
.number-list li{
    font-size: 12px;
    /* margin-left: 5px; */
    margin-top: 5px;
}
.number-list li:hover{
    background: #3968C6;
    color: white;
}
.third-container{
    width: 100%;
    /* height: 300px; */
    border: 1px solid #d9d9d9;
    margin-top: 5px;
    padding: 20px;
}
table{
    width: 95%;
    height: 40%;
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
    margin: 22px;
    border: 1px solid #d9d9d9;
}
thead{
    height: 40%;
    background: #adaaaa;
    color: white;
}
tbody{
    height: 60%;
    background: #d9d9d9;
    font-weight: 200;
}
.third-sub-container{
    width: 95%;
    height: 20%;
    margin: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
thead th,
tbody th{
    text-align: center;
    border: 1px solid #d9d9d9;
}
.second-sub{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    border: 1px solid #d9d9d9;
}
.second-sub span{
    color: #d9d9d9;
}
.second-sub i{
    color: #3968C6;
}
.one-box{
    width: 25px;
    height: 25px;
    text-align: center;
    background: #3968C6;
    color: white;
}

.number-list {
    display: none;
}

.number-list.active {
    display: block;
}
.two-box{
    width: 50px;
    border: 1px solid #d9d9d9;
    text-align: center;
}
.two-box:hover{
    background: #d9d9d9;
    color: white;
    width: 50px;
}
.two-box span:hover{
    color: white;
}
select[name="adhoc-table_length"]{
    width: 40%;
    height: 40px;
    margin-top: 10px;
    /* margin-left: 20px; */
    border: 1px solid #d9d9d9;
    outline: none; 
}
.dataTables_length label{
    white-space: nowrap;
    font-weight: 400;
    color: gray;
}
.dataTables_filter{
    border: 1px solid #d9d9d9;
    width: 25%;
    height: 40px;
    margin-top: 10px;
    
}
.dataTables_filter label input{
    flex-grow: 1;
    width: 100%;
    height: 100%;
    border-left: 1px solid #d9d9d9;
    outline: none;
    border-top: none;
    border-bottom: none;
    border-right: none;
    padding-left: 5px;

}
.dataTables_filter label i{
    font-size: 20px;
    font-weight: 600;
    color: grey;
    margin-left: 5px;
   
}
.dataTables_filter label{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    
}
.dataTables_info{
    margin-top: 10px;
    margin-left: 20px;
}
.dataTables_paginate.paging_simple_numbers{
    
    margin-right: 20px;
    color: gray;
}
.zone-section-container{
    width: 100%;
    /* height: 15%; */
    /* background: tomato; */
    /* border: 1px solid #d9d9d9; */
    padding: 10px;
    display: flex;
    /* justify-content: space-between; */
    gap: 50px;
    
}
.zone-section-container label{
    color: #555555;
    font-weight: 700;
    font-size: 13px;
}
.zone-section-wrapper{
    width: 20%;
    height: 100%;

}
.duration-section{
    display: flex;
    gap: 50px;
}
.duration-section input{
    height: 48%;
    border: 1px solid#d9d9d9;
    border-radius: 4px;
    outline: none;
    padding: 5px;
    color: #d9d9d9;
}
.search-btn{
    width: 120px;
    height: 50px;
    margin-top: 24px;
    margin-right: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #2F96B4;
    background: #2F96B4;
    color: white;
    font-size: 13px;


}
.search-btn:hover{
    background: #5ebcd9;
    transition: .5s;
}
thead th{
    font-size: 14px;
    font-weight: bold;
    color: #555555;
}
tbody th{
    font-size: 14px;
    font-weight: 400;
    color: #555555;
}
select[name="adhoc-table_length"]{
    width: 40%;
    height: 40px;
    margin-top: 10px;
    /* margin-left: 20px; */
    border: 1px solid #d9d9d9;
    outline: none; 
}
.dataTables_length label{
    white-space: nowrap;
    font-weight: 400;
    color: gray;
}
.dataTables_filter{
    border: 1px solid #d9d9d9;
    width: 25%;
    height: 40px;
    margin-top: 10px;
    
}
.dataTables_filter label input{
    flex-grow: 1;
    width: 100%;
    height: 100%;
    border-left: 1px solid #d9d9d9;
    outline: none;
    border-top: none;
    border-bottom: none;
    border-right: none;
    padding-left: 5px;

}
.dataTables_filter label i{
    font-size: 20px;
    font-weight: 600;
    color: grey;
    margin-left: 5px;
   
}
.dataTables_filter label{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    
}
.dataTables_info{
    margin-top: 10px;
    margin-left: 20px;
}
.dataTables_paginate.paging_simple_numbers{
    
    margin-right: 20px;
    color: gray;
}
.zone-section-container{
    width: 100%;
    /* height: 15%; */
    /* background: tomato; */
    /* border: 1px solid #d9d9d9; */
    padding: 10px;
    display: flex;
    /* justify-content: space-between; */
    gap: 50px;
    
}
.zone-section-container label{
    color: #555555;
    font-weight: 700;
    font-size: 13px;
}
.zone-section-wrapper{
    width: 20%;
    height: 100%;

}
.duration-section{
    display: flex;
    gap: 50px;
}
.duration-section input{
    height: 48%;
    border: 1px solid#d9d9d9;
    border-radius: 4px;
    outline: none;
    padding: 5px;
    color: #d9d9d9;
    font-size: 14px;
}
.search-btn{
    width: 100px;
    height: 35px;
    margin-top: 28px;
    margin-right: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #2f96b4;
    background: #2f96b4;
    color: white;
    font-size: 15px;


}
.search-btn:hover{
    background: #74c2d9;
    transition: .5s;
}
select[name="product-report_length"] {
    width: 40%;
    height: 40px;
    margin-top: 10px;
    margin-left: 20px;
    border: 1px solid #d9d9d9;
    outline: none;
  }
  .dataTables_length label {
    white-space: nowrap;
    font-weight: 400;
    color: gray;
  }
  .dataTables_filter {
    border: 1px solid #d9d9d9;
    width: 25%;
    height: 40px;
    margin-top: 10px;
    margin-right: 20px;
  }
  .dataTables_filter label input {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    border-left: 1px solid #d9d9d9;
    outline: none;
    border-top: none;
    border-bottom: none;
    border-right: none;
    padding-left: 5px;
  }
  .dataTables_filter label i {
    font-size: 20px;
    font-weight: 600;
    color: grey;
    margin-left: 5px;
  }
  .dataTables_filter label {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
  }
  .dataTables_info {
    margin-top: 10px;
    margin-left: 20px;
  }
  .dataTables_paginate.paging_simple_numbers {
    margin-right: 20px;
    color: gray;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button.current,
  .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: white !important;
    border: 1px solid #3c5a74;
    background-color: white;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0%, #fff),
      color-stop(100%, #dcdcdc)
    );
    background: -webkit-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -moz-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -ms-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -o-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: #4d7496;
  }
  .dataTables_paginate.paging_simple_numbers {
    margin-right: 20px;
    color: #4d7496;
    border: 1px solid #d9d9d9;
    position: relative;
    top: 20px;
  }
  .dataTables_wrapper .dataTables_paginate {
    color: #555555;
    font-size: 13px;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
  .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
  .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    color: #666 !important;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: 1px solid #d9d9d9;
    background-color: #585858;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0%, #585858),
      color-stop(100%, #111)
    );
    background: -webkit-linear-gradient(top, #585858 0%, #111 100%);
    background: -moz-linear-gradient(top, #585858 0%, #111 100%);
    background: -ms-linear-gradient(top, #585858 0%, #111 100%);
    background: -o-linear-gradient(top, #585858 0%, #111 100%);
    background: #bcbcbc;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    /* margin-left: 2px; */
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
  }
  a:hover {
    color: #0056b3;
    text-decoration: underline;
  }
  .paginate_button {
    color: #3c5a74 !important;
    border: 1px solid #d9d9d9;
    height: 100%;
    /* background: #3c5a74; */
  }
  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_filter,
  .dataTables_wrapper .dataTables_info,
  .dataTables_wrapper .dataTables_processing,
  .dataTables_wrapper .dataTables_paginate {
    color: #555555;
    font-size: 13px;
  }
  
  element.style {
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #4d7496 !important;
    border: 1px solid #d9d9d9;
    background-color: #d9d9d9;
    background: #d9d9d9;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #4d7496 !important;
    border: 1px solid #d9d9d9;
    background-color: #4d7496;
    background: #d9d9d9 !important;
  }
  
  .dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
    padding-top: 0 !important;
  }
  
  .dataTables_wrapper .dataTables_paginate .paginate_button {
    border-radius: 0 !important;
    margin-left: 0 !important;
    color: #4d7496 !important;
  }
  .paginate_button {
    background: none !important;
    border-right: 1px solid #d9d9d9 !important;
    color: #4d7496 !important;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: #4d7496 !important;
  }
  .dataTables_length label {
    white-space: nowrap;
    font-weight: 800;
    color: #555555;
  }
  table.dataTable td.dataTables_empty {
    text-align: justify !important;
  }
  .fstlist > div.selected {
    background-color: none !important;
    color: white;
  }
  .fstlist > div.selected:hover {
    background-color: #4d7496;
    color: white;
  }
  .fstsearchinput {
    border: 1px solid #4d7496;
    outline: none;
  }
  