* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "open-sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

    *::before,
    *::after {
        box-sizing: border-box;
    }

:root {
    --color-primary-1: #293541;
    --color-secondary-1: #f9f9f9;
    --color-accent-1: #dee2e6;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h3 {
    font-size: 15px !important;
    font-weight: 500 !important;
    margin-bottom: 0 !important;
}

section.attendance-section,
section.wardwise-attendance-section,
section.kothiwise-attendance-section,
section.attendance-report-section {
    width: 100%;
    padding: 20px;
}

    section.attendance-section .sweeper-attendance {
        border: 2px solid var(--color-accent-1);
    }

.sweeper-attendance .title {
    display: flex;
    align-items: center;
    padding: 10px;
}

    .sweeper-attendance .title i {
        color: #293541;
        width: 20px;
    }

.sweeper-attendance .body .checkbox-wrapper {
    display: inline-flex;
    font-size: 14px;
    align-items: center;
}

    .sweeper-attendance .body .checkbox-wrapper input {
        margin: 0 2px 0 10px;
    }

.sweeper-attendance .body .filters {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    padding: 20px;
    width: 100%;
}

.filters .dropdown-wrapper h5 {
    font-size: 14px;
    font-weight: 500;
}

.filters .dropdown-wrapper {
    width: 100%;
    display: block !important;
}

    .filters .dropdown-wrapper .dropdown {
        padding: 5px;
        cursor: pointer;
        user-select: none;
        position: relative;
        top: -35px;
        left: 6px;
    }

        .filters .dropdown-wrapper .dropdown .dropdown-title {
            font-size: 13px;
            width: 110%;
            display: flex;
            margin-top: 31px;
            justify-content: space-between;
            border: 2px solid #D9d9d9;
            height: 34px;
            /* margin-right: 9px; */
            margin-left: -12px;
            padding: 5px;
        }



            .filters .dropdown-wrapper .dropdown .dropdown-title i {
                height: 100%;
                color: var(--color-primary-1) !important;
            }

            .filters .dropdown-wrapper .dropdown .dropdown-title span {
                margin-left: 5px;
            }

        .filters .dropdown-wrapper .dropdown .dropdown-body {
            padding: 0 5px;
        }

            .filters .dropdown-wrapper .dropdown .dropdown-body input {
                width: 100%;
                height: 30px;
                padding: 0 5px;
                margin: 5px 0;
            }

                .filters .dropdown-wrapper .dropdown .dropdown-body input:focus {
                    outline: 2px solid #4d7496;
                    border: none;
                }

            .filters .dropdown-wrapper .dropdown .dropdown-body li {
                padding: 5px;
                font-size: 13px;
            }

                .filters .dropdown-wrapper .dropdown .dropdown-body li:hover {
                    background: #4d7496;
                    color: #fff;
                }

.dropdown-content {
    display: none;
}

    .dropdown-content.active {
        display: block;
    }

.dropdown-btn .toggler.active {
    transform: rotate(180deg);
}

.dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    width: 100%;
    border: 2px solid #ddd;
    z-index: 1; /* set the z-index property to a higher value than the parent container */
}

.filters .date-wrapper h5 {
    font-size: 14px;
    font-weight: 500;
}

.filters .date-wrapper input[type="date"] {
    width: 100%;
    height: 35px;
    border: 2px solid var(--color-accent-1);
    font-size: 13px;
    padding: 0 5px;
}

.filters .search-button {
    align-self: baseline;
    justify-self: flex-start;
    padding: 5px 12px;
    margin-top: 25px;
    background-color: #3968c6;
    color: #fff;
    border: none;
    font-size: 13px;
}

.dropdown .dropdown-body ul {
    max-height: 200px;
    overflow-y: auto;
}

@media (width <= 425px) {
    .sweeper-attendance .body .filters {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Ward Wise Attendance Section*/

section.wardwise-attendance-section .wardwise-attendance {
    border: 2px solid var(--color-accent-1);
}

.wardwise-attendance .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid var(--color-accent-1);
}

.wardwise-attendance .body {
    padding: 10px;
    overflow-x: auto;
}

    .wardwise-attendance .body.collapsible {
        display: none;
    }

        .wardwise-attendance .body.collapsible.active {
            display: block;
            padding: 10px;
        }

    .wardwise-attendance .body table {
        width: 100%;
        text-align: center;
    }

    .wardwise-attendance .body table,
    .wardwise-attendance .body th,
    .wardwise-attendance .body td {
        border: 2px solid var(--color-accent-1);
        border-collapse: collapse;
        padding: 10px;
    }

        .wardwise-attendance .body table th {
            font-size: 14px;
            font-weight: 500;
        }

        .wardwise-attendance .body table td {
            font-size: 13px;
        }

        .wardwise-attendance .body table tr td input {
            width: fit-content;
        }

/* Khotiwise Attendance */

section.kothiwise-attendance-section .kothiwise-attendance {
    border: 2px solid var(--color-accent-1);
}

.kothiwise-attendance .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid var(--color-accent-1);
}

.kothiwise-attendance .body {
    padding: 10px;
    overflow-x: auto;
}

.record-filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

    .record-filters .perpage-filter {
        width: 80px;
        padding: 5px;
    }

        .record-filters .perpage-filter:focus {
            border: 2px solid #3968c6;
            box-shadow: 0 0 3px grey;
            outline: none;
        }

.kothiwise-attendance .body .filters .perpage-filter option {
}

.record-filters .search-box {
    border: 2px solid var(--color-accent-1);
    display: flex;
    align-items: center;
}

    .record-filters .search-box i {
        border-right: 2px solid var(--color-accent-1);
        width: 30px;
        text-align: center;
        height: 100%;
        line-height: 20px;
    }

        .record-filters .search-box i::before {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    .record-filters .search-box input {
        border: none;
        outline: none;
        padding: 0 5px;
        flex-grow: 1;
    }

.kothiwise-attendance .body table {
    width: 100%;
    text-align: center;
}

.kothiwise-attendance .body table,
.kothiwise-attendance .body th,
.kothiwise-attendance .body td {
    border: 2px solid var(--color-accent-1);
    border-collapse: collapse;
    padding: 10px;
}

.kothiwise-attendance .body {
    overflow-x: auto;
}

    .kothiwise-attendance .body.collapsible.active {
        display: block;
    }

    .kothiwise-attendance .body.collapsible {
        display: none;
    }

    .kothiwise-attendance .body table th {
        font-size: 14px;
        font-weight: 500;
    }

    .kothiwise-attendance .body table td {
        font-size: 13px;
    }

    .kothiwise-attendance .body table tr td input {
        width: fit-content;
    }

/* Pagination */

.pagination-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

    .pagination-row p {
        font-size: 13px;
    }

    .pagination-row .pagination {
        height: fit-content;
        display: flex;
        flex-wrap: nowrap;
    }

        .pagination-row .pagination a {
            border: 2px solid #ccc;
            padding: 5px 10px;
            color: var(--color-primary-1);
        }

            .pagination-row .pagination a.previous i {
                margin-right: 10px;
            }

            .pagination-row .pagination a.next i {
                margin-left: 10px;
            }

/* Attendance Report */

.attendance-report-section .attendance-report {
    border: 2px solid var(--color-accent-1);
}

.attendance-report .title {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid var(--color-accent-1);
}

@media (width <= 425px) {
    .attendance-report .title {
        flex-direction: column;
    }
}

.attendance-report .title .controls {
    display: flex;
    align-items: center;
}

    .attendance-report .title .controls div:first-child {
        display: flex;
        align-items: center;
    }

@media (width <= 768px) {
    .attendance-report .title .controls {
        display: block;
    }
}

.attendance-report .title .controls h2 {
    font-size: 18px;
    margin: 0 5px;
}

.attendance-report .title .controls h3 {
    margin: 0 5px;
}

.attendance-report .title .controls button {
    border: none;
    font-size: 13px;
    padding: 5px 15px;
    color: #fff;
    margin-right: 5px;
    cursor: pointer;
}

@media (width <= 425px) {
    .controls {
        display: flex;
        flex-direction: column;
    }

        .controls div:first-child {
            text-align: center;
            margin-bottom: 10px;
        }

        .controls div:last-child {
            margin-bottom: 10px;
        }
}

.attendance-report .title .controls button.total {
    background-color: #5453a1;
}

.attendance-report .title .controls button.present {
    background-color: #3a6121;
}

.attendance-report .title .controls button.absent {
    background-color: #f39c12;
}

@media (width <=425px) {
    .attendance-report .title .downloads i {
        float: right;
    }
}

.attendance-report .title .downloads img {
    width: 30px;
    height: 30px;
}

.attendance-report-section .attendance-report .body {
    padding: 10px;
}

.attendance-report .body table {
    width: 100%;
    text-align: center;
}

.attendance-report .body table,
.attendance-report .body th,
.attendance-report .body td {
    border: 2px solid var(--color-accent-1);
    border-collapse: collapse;
    padding: 10px;
}

.attendance-report .body {
    overflow-x: auto;
}

    .attendance-report .body.collapsible.active {
        display: block;
    }

    .attendance-report .body.collapsible {
        display: none;
    }

    .attendance-report .body table th {
        font-size: 14px;
        font-weight: 500;
    }

    .attendance-report .body table td {
        font-size: 13px;
    }

    .attendance-report .body table tr td input {
        width: fit-content;
    }

/* CSS for Data Table */

select[name] {
    width: 80px;
}

    select[name]:focus {
        border: 1px solid #3968c6;
        outline: none;
        box-shadow: 0 0 5px grey;
    }

.dataTables_length label,
.dataTables_info,
.dataTables_paginate.paging_simple_numbers {
    font-size: 13px;
}

.dataTables_paginate.paging_simple_numbers,
.dataTables_info {
    margin-top: 10px !important;
}

#kothiWise_filter label,
#attendanceReport_filter label {
    border: 2px solid var(--color-accent-1);
    display: flex;
    align-items: center;
}

    #kothiWise_filter label img,
    #attendanceReport_filter label img {
        height: 100%;
        border-right: 2px solid var(--color-accent-1);
        padding: 0 5px;
    }

    #kothiWise_filter label input,
    #attendanceReport_filter label input {
        border: none;
        outline: none;
        flex-grow: 1;
        font-size: 13px;
        padding: 5px;
    }

/* .dataTables_wrapper .dataTables_paginate .paginate_button {
  color: #3968c6 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: #dcdcdc !important;
} */


.cursor-pointer {
    cursor: pointer;
}